* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background: #e3fcd7;
    display: flex;
    padding: 2rem 0;
}

#text1 {
    background: #fff;
}

#text1 .row .col-md-8 {
    /* background: red; */
    display: flex;
    align-items: center;
}
#text1 .row .col-md-8 p {
    /* background: chartreuse; */
}

#text1 img {
    border-radius: 20px;
}

.h-text1 {
    margin-left: 4rem;
}

nav .btn-outline-light {
    width: 100px;
    border-radius: 20px;
    font-weight: bold;
}

.main #home {
    margin-bottom: 2rem 0;
    padding-top: 3rem;
}

#home .row .col-md-6 {
    display : flex;
    align-items : center;
}

#home h1 {
    font-size: 64px;
    font-weight: 600;
}

.home-svg {
    max-height: 400px;
}